WSDL/Brand.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="www.soapservice.ftnxml.com/model/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="www.soapservice.ftnxml.com/model/" targetNamespace="www.soapservice.ftnxml.com/model/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="www.soapservice.ftnxml.com/model/">
<xs:element name="BrandDetailsRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="BrandDetailsResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="Brand" type="tns:Brand"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="Brand">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="BrandDetailsResponse">
<wsdl:part element="tns:BrandDetailsResponse" name="BrandDetailsResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="BrandDetailsRequest">
<wsdl:part element="tns:BrandDetailsRequest" name="BrandDetailsRequest"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="BrandDetailsPort">
<wsdl:operation name="BrandDetails">
<wsdl:input message="tns:BrandDetailsRequest" name="BrandDetailsRequest"> </wsdl:input>
<wsdl:output message="tns:BrandDetailsResponse" name="BrandDetailsResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BrandDetailsPortSoap11" type="tns:BrandDetailsPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="BrandDetails">
<soap:operation soapAction=""/>
<wsdl:input name="BrandDetailsRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="BrandDetailsResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="BrandDetailsPortService">
<wsdl:port binding="tns:BrandDetailsPortSoap11" name="BrandDetailsPortSoap11">
<soap:address location="http://localhost:8080/soap/service/brand-details"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>