WSDL/carRentalWsdl.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="www.soapservice.ftnxml.com/model/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="www.soapservice.ftnxml.com/model/" targetNamespace="www.soapservice.ftnxml.com/model/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="www.soapservice.ftnxml.com/model/">
<!--   ##############USER RELATED REQUESTS###################  -->
<xs:element name="RegisterAgentRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="username" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="confirmPassword" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="RegisterAgentResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="status" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<!--   #################################################  -->
<!--   ##############Vehicle RELATED REQUESTS###################  -->
<xs:element name="AddNewVehicleRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="modelName" type="xs:string"/>
<xs:element name="brandName" type="xs:string"/>
<xs:element name="fuelTypeName" type="xs:string"/>
<xs:element name="transmissionTypeName" type="xs:string"/>
<xs:element name="location" type="xs:string"/>
<xs:element name="mileage" type="xs:double"/>
<xs:element name="noOfSeats" type="xs:int"/>
<xs:element name="userId" type="xs:long"/>
<xs:element name="dailyPrice" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddNewVehicleResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="vehicleId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="BrandByIdRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddBrandRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AllBrandsRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="test" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="BrandByIdResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="Brand" type="tns:Brand"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AllBrandsResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Brands" type="tns:Brand"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddBrandResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="result" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="Brand">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string"/>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Model" type="tns:Model"/>
</xs:sequence>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Model">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="BrandByIdResponse">
<wsdl:part element="tns:BrandByIdResponse" name="BrandByIdResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AllBrandsResponse">
<wsdl:part element="tns:AllBrandsResponse" name="AllBrandsResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AddBrandResponse">
<wsdl:part element="tns:AddBrandResponse" name="AddBrandResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="BrandByIdRequest">
<wsdl:part element="tns:BrandByIdRequest" name="BrandByIdRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AddBrandRequest">
<wsdl:part element="tns:AddBrandRequest" name="AddBrandRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AddNewVehicleRequest">
<wsdl:part element="tns:AddNewVehicleRequest" name="AddNewVehicleRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AllBrandsRequest">
<wsdl:part element="tns:AllBrandsRequest" name="AllBrandsRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AddNewVehicleResponse">
<wsdl:part element="tns:AddNewVehicleResponse" name="AddNewVehicleResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="RegisterAgentResponse">
<wsdl:part element="tns:RegisterAgentResponse" name="RegisterAgentResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="RegisterAgentRequest">
<wsdl:part element="tns:RegisterAgentRequest" name="RegisterAgentRequest"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="CarRentalApiClient">
<wsdl:operation name="BrandById">
<wsdl:input message="tns:BrandByIdRequest" name="BrandByIdRequest"> </wsdl:input>
<wsdl:output message="tns:BrandByIdResponse" name="BrandByIdResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="AllBrands">
<wsdl:input message="tns:AllBrandsRequest" name="AllBrandsRequest"> </wsdl:input>
<wsdl:output message="tns:AllBrandsResponse" name="AllBrandsResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="AddBrand">
<wsdl:input message="tns:AddBrandRequest" name="AddBrandRequest"> </wsdl:input>
<wsdl:output message="tns:AddBrandResponse" name="AddBrandResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="AddNewVehicle">
<wsdl:input message="tns:AddNewVehicleRequest" name="AddNewVehicleRequest"> </wsdl:input>
<wsdl:output message="tns:AddNewVehicleResponse" name="AddNewVehicleResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="RegisterAgent">
<wsdl:input message="tns:RegisterAgentRequest" name="RegisterAgentRequest"> </wsdl:input>
<wsdl:output message="tns:RegisterAgentResponse" name="RegisterAgentResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CarRentalApiClientSoap11" type="tns:CarRentalApiClient">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="BrandById">
<soap:operation soapAction=""/>
<wsdl:input name="BrandByIdRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="BrandByIdResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="AllBrands">
<soap:operation soapAction=""/>
<wsdl:input name="AllBrandsRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="AllBrandsResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="AddBrand">
<soap:operation soapAction=""/>
<wsdl:input name="AddBrandRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="AddBrandResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="AddNewVehicle">
<soap:operation soapAction=""/>
<wsdl:input name="AddNewVehicleRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="AddNewVehicleResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="RegisterAgent">
<soap:operation soapAction=""/>
<wsdl:input name="RegisterAgentRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="RegisterAgentResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CarRentalApiClientService">
<wsdl:port binding="tns:CarRentalApiClientSoap11" name="CarRentalApiClientSoap11">
<soap:address location="http://localhost:8080/soap/service"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>